@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --color: #171717;
  --select-bg: #e8edf1;
  --border: #767676;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
